<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="RetroPlayHub Launcher"
    Manufacturer="RetroPlayHub"
    Version="$(var.RetroPlayHubVersion)"
    UpgradeCode="A87DDE62-5CE1-4C15-95EA-DA5C47AF9A9C"
    Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of RetroPlayHub Launcher is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="RetroPlayHubLauncher" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="RetroPlayHub Launcher" Level="1">
      <ComponentGroupRef Id="LauncherFiles" />
      <ComponentRef Id="ProtocolRegistration" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ProtocolRegistration" Guid="*">
        <RegistryKey Root="HKCU" Key="Software\Classes\nygames">
          <RegistryValue Type="string" Value="URL:RetroPlayHub Launcher Protocol" KeyPath="yes" />
          <RegistryValue Name="URL Protocol" Type="string" Value="" />
        </RegistryKey>
        <RegistryValue Root="HKCU" Key="Software\Classes\nygames\DefaultIcon" Type="string" Value="[%SystemRoot]\System32\shell32.dll,13" />
        <RegistryValue Root="HKCU" Key="Software\Classes\nygames\shell\open\command" Type="string" Value="&quot;[INSTALLFOLDER]RetroPlayHubLauncher.exe&quot; &quot;%1&quot;" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
